* {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #FAFAFA;
}

.heder {
  height: auto;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  border: 1px solid rgb(209, 202, 202);
  border-top: none;
  background-color: white;
}

.header__img {
  background-color: white;
  width: 100px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 20px;
}

.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  border: 1px solid rgb(209, 202, 202);
  border-top: none;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  width: 150px;
  border: 1px solid rgb(209, 202, 202);
  padding: 30px;
  margin: 10px;
  border-radius: 2%;
  box-shadow: 2px 2px rgb(209, 202, 202);
}

.member__img {
  width: 120px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 20px;
}

.member__h1 {
  font-size: 17px;
}

.member__a {
  text-decoration: none;
  color: gray;
  font-size: 25px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}